<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/icon.svg')}}"/>
    <title>وردية - Wardiyyah</title>
  </head>
  <body>
    <!-- header section start -->
    <header id="header-section">
      <!-- navbar -->
      <div class="navbar">
        <div class="logo">
          Wardiyyah - وردية <img src="{{ url_for('static', filename='assets/icon.svg')}}" alt="" />
        </div>
      </div>
    </header>
    <!-- header section end -->

    <!-- hero section start -->
    <section id="hero-section">
      <div class="container">
        <div class="hero-container">
          <img
            src="{{ url_for('static', filename='assets/flowerDesign.svg')}}"
            id="flower"
            alt="flower"
            class="flower"
          />
          <div class="card">
            <h1>ابدأ رحلتك مع الزهور</h1>
            <h6>اكتشف اسم الزهرة ونبذة عنها باستخدام الذكاء الاصطناعي</h6>
            <p>
              ارفع صورة لأي زهرة، ووردية سيتعرف عليها باستخدام الذكاء الاصطناعي،
              ويعرض لك اسمها.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- hero section end -->

    <!-- main function start -->
    <section id="main-function-section">
      <div class="container">
        <div class="main-function-container">
          <img
            src="{{ url_for('static', filename='assets/flowerDesign2.svg')}}"
            id="flower-2"
            alt="flower"
            class="flower-2"
          />
          <h1>اعرف المزيد عن زهرتك</h1>
          <p class="function-desc">
            وردية يستخدم تقنيات رؤية حاسوبية لتحليل الشكل واللون والأنماط، ثم
            يطابقها مع قاعدة بيانات للزهور ليعطيك نتائج دقيقة.
          </p>

          <div class="upload-box">
            <form id="upload-form">
              <input type="file" id="image-input" accept="image/*" required />
              <button type="submit">تعرف على الزهرة</button>
            </form>
            <div id="result"></div>
          </div>
        </div>
      </div>
    </section>
    <!-- main function end -->

    <!-- footer section start-->
    <footer id="footer">
      <div class="container">
        <div class="footer-content">
          <div class="footer-section">
            <div class="contact-info">
              <h4>تواصل معنا</h4>
              <p>
                ghaida.almutairi.official@gmail.com
                <i class="fas fa-envelope"></i>
              </p>
              <a href="https://github.com/GhaidaAL36" target="_blank">
                GhaidaAl36 <i class="fab fa-github"></i>
              </a>
              <a href="https://x.com/mgisyy" target="_blank">
                mgisyy <i class="fab fa-x-twitter"></i>
              </a>
            </div>
          </div>
          <div class="footer-section">
            <div class="logo">
              Wardiyyah - وردية <img src="{{ url_for('static', filename='assets/icon.svg')}}" alt="" />
            </div>
          </div>
          <div class="footer-section">
            <p>
              وردية هي منصة ذكية تهدف إلى تمكين المستخدم من استكشاف عالم الزهور
              والتعرف على أنواعها. يعتمد النظام على نموذج مبدئي
              مدرّب باستخدام تقنيات الذكاء الاصطناعي، وقد يواجه بعض التحديات في
              التعرف على جميع أنواع الزهور بدقة عالية، خاصةً في الصور غير
              الواضحة أو غير المألوفة. نعمل باستمرار على تحسين النموذج وتوسيع
              قاعدة بياناته للوصول إلى أداء أفضل.
            </p>
          </div>
        </div>
      </div>
    </footer>
    <!-- footer section end-->

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
